main {
  min-height: 90vh;
}

#subtitle {
  min-height: 5vh;
  margin-top: 2vh;
}

#auth-block {
  min-height: 5vh;
  margin-bottom: 2vh;
}

.signin-signup-button {
  margin-bottom: 2vh;
  margin-top: 2vh;
  margin-right: 2vh;

}

.mb-3 {
  width: 50% !important;
}

#warning {
  color: crimson;
}

.my-modal {
  max-width: 40vw !important;
}

#slider {
  max-width: 20vw !important;
}